@import './components/style-guide.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
  
  @include flex-center();
  
  height: 100vh;
  
  background: $color-background;
}


a{
  text-decoration: none;
};